{"working_directory": "/home/uploads/whatever/", "scad_type": "openSCAD", "global_params": {"wrist_width": 50, "finger_width": 14}, "openSCAD_params": ["--render", "--imgsize=100"], "require_params": {"neat_finger": {"rubber_width": 3}}, "main": "assemble.scad", "requires": {"rocking_palm": {"main": "palm.scad", "scad_type": "openSCAD"}, "neat_finger": {"main": "finger.scad", "scad_type": "openSCAD"}}, "output_directory": "/home/uploads/whatever/renders/1234241"}
