{"scad_type": "openSCAD", "require_params": {"square": {"square_base": 3}}, "global_params": {"cube_width": 14}, "openSCAD_params": ["--render", "--imgsize=100"], "main": "main.scad", "requires": {"cube": {"main": "cube.scad", "scad_type": "openSCAD"}, "square": {"main": "square.scad", "scad_type": "openSCAD"}}}
